.main_view {
    color: white;
}
.mainView_aside {
    position: fixed;
    width: 23%;
    height: 200em;
    background-color: #3f0f3f;
    z-index:1;
}
.feed_only {
    position: fixed;
    color: black;
    left: 24.8em;
    width: 75%;
    height: 100%;
    /* overflow-y:scroll; */

}
.feed_thread {
    position: fixed;
    color: black;
    left: 18.7em;
    width: 46.6;
    height: 100%;
    /* overflow-y:scroll; */

}

.threadContent{
    position: fixed;
    color: black;
    border-left: 0.5px solid black;
    width: 42.8%;
    height: 100%;
    left: 55.2em;
    z-index: -1;
    overflow-y: scroll;
}
.threadContentMessages{
    position: relative;
    left: 17em;
    top: -6em;
}
hr {
    position: relative;
    top: 3em;
    left: -44em;
    width: 45em;
}
.bottom_background {
    background-color: white;
}