.replyShowReplies {
    position: fixed;
    bottom: 0%;
    left: 22.1%;
    width: 78%;
    height: 5.5em;
}
.textArea {
    position: fixed;
    left: 23%;
    bottom: 3%;
    width: 75.5%;
    z-index: 1;
}
.textAreaShort {
    position: fixed;
    left: 24%;
    bottom: 3%;
    width: 37.5%;
}
.textAreaShowReplies {
    position: fixed;
    left: 67%;
    bottom: 3%;
    width: 32.5%;
}
.reply {
    position: fixed;
    bottom: 0%;
    left: 22.1%;
    width: 40%;
    height: 5.5em;
    background-color: white;
}