.replyShowReplies {
    position: fixed;
    bottom: 0%;
    left: 22.1%;
    width: 78%;
    height: 5.5em;
}
.textArea1 {
    position: fixed;
    left: 24%;
    bottom: 3%;
    width: 73%;
    z-index: 1;
    padding: 1%
}
.textArea2 {
    position: fixed;
    left: 24%;
    bottom: 3%;
    width: 41.5%;
    padding: 1%;
}
.textArea3 {
    position: fixed;
    left: 70%;
    bottom: 3%;
    width: 27%;
    padding: 1%;
}
.reply1 {
    position: fixed;
    bottom: 0%;
    left: 23.1%;
    width: 77%;
    height: 5.5em;
    background-color: white;
}
.reply2 {
    position: fixed;
    bottom: 0%;
    left: 23.3%;
    width: 45.7%;
    height: 5.5em;
    background-color: white;
}
.reply3 {
    position: fixed;
    bottom: 0%;
    left: 69.1%;
    width: 77%;
    height: 5.5em;
    background-color: white;
}